	<ion-view view-title="Accueil" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-accueil" class="page-accueil">
		<div class="card">
<div class="item item-text-wrap">
<br />
  <br /><br />
  <br /><br /><br />
<div class="text-center"><a class="button-energized button-full button" href="http://assom.fr/forum"> Connexion</a> <br /><br /><br /><br /><br /><br /><br />
<p>© 2016 <a ng-click="openURL('http://assom.fr')">AssoM</a><br />Tous droits réservés</p>
</div>
 </div>
</div>
		</ion-content>
	</ion-view>
